<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}zh-CN{{end}}">
{{ partial "head" . }}

<body>
    {{ partial "header" . }}
    <a href="https://www.aliyun.com/minisite/goods?userCode=dgslu5jg" target="_blank">
        <img src="https://img.alicdn.com/tfs/TB1otdTyAT2gK0jSZFkXXcIQFXa-2880-120.png">
    </a>
    <div id="body">
        <div class="container">
            <div class="col-group">

                <div class="col-8" id="main">
                    {{ block "content" . }}{{ end }}
                </div>

                {{ partial "sidebar" . }}
            </div>
        </div>
    </div>
    {{ partial "footer" . }}
</body>

</html>